.verify {
  display: grid;
  min-height:60vh;
}

.verify .spinner {
  border: 4px solid #bdbdbd;
  border-top-color: tomato;
  border-radius: 50%;
  place-self:center;
  width: 100px;
  height: 100px;
  animation: rotate 1s infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.message {
  text-align: center;
}

.message p {
  font-size: 18px;
  color: #333;
  margin: 10px 0;
  font-weight: 500;
}
